$space-img: "../img/space.jpg";

$background-img: "../img/skulls.png";

$navy: #000040;
$burnt-orange: #DA5400;

$main-font: 'Verdana', sans-serif;
$main-font-color: $burnt-orange;

$transparent-div: rgba(0,0,64,0.8);
